<html>

<head>
    
    </head>
    
    <title>AndroMedaRobot</title>
    
    <body>
      <center><h1>Image Validation </h1></center> 
    <table style="width:70%">


          <li>{{ escape(student.name) }}</li>

{% for student in students %}

        {% block student %}
        <tr style="width:80%">
        
        <td>
            <img src="img1.jpg">
            <br>
          <center>
        <div  style="align=centre">
        <label> <input type="radio" name="group1" value="valid">Valid </label> 
       <label> <input type="radio" name="group1" value="Watermark">Watermark</label> 
        <label> <input type="radio" name="group1" value="Text">Text</label> 
            <label> <input type="radio" name="group1" value="Face">Face</label> 
            </div>
              </center>
            </td>


        <td>
            <img src="img1.jpg">
            <center>
            <div  >
        <label> <input type="radio" name="group1" value="valid">Valid </label> 
       <label> <input type="radio" name="group1" value="Watermark">Watermark</label> 
        <label> <input type="radio" name="group1" value="Text">Text</label> 
            <label> <input type="radio" name="group1" value="Face">Face</label> 
            </div>
                </center>        

        </td>
            
            
        </tr>
        
        {% end %}
      {% end %}

        </table>
        
        <center><input type="button" value="Submit"></center> 
    
    <footer> MindGameSoft</footer>
        
    </body>

</html>