<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap Starter Template</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    
        table, th, td{
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
        table{
            border-spacing: 25px
        }    
        img{
            max-height: 800px;
            max-width: 600px;
        }
    </style>
    
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        <br><br><br>
      <center><h1>Image Validation </h1></center> 
    <table style="width:70%">

      {% for student in students %}
        <tr style="width:80%">
        {% block student %}
        <td>
            <img src="/static/img1.jpg">
            <br>
          <center>

                  <br>
        <form>
        <label> <input type="radio" name="validation" value="valid">Valid </label>
       <label> <input type="radio" name="validation" value="Watermark">Watermark</label>
        <label> <input type="radio" name="validation" value="Text">Text</label>
            <label> <input type="radio" name="validation" value="Face">Face</label>
            </form>
              </center>

            </td>
               <td>
            <img src="/static/img1.jpg">
            <br>
          <center>

                  <br>
        <form>
        <label> <input type="radio" name="validation" value="valid">Valid </label>
       <label> <input type="radio" name="validation" value="Watermark">Watermark</label>
        <label> <input type="radio" name="validation" value="Text">Text</label>
            <label> <input type="radio" name="validation" value="Face">Face</label>
            </form>
              </center>

            </td>


        {% end %}
      {% end %}

        </table>
        <br>
        <center><input type="button" value="Submit" class="btn btn-default" id="submit"></center> 
  
    <footer> MindGameSoft</footer>
        


    
    </div>
    <!-- /.container -->


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/static/post_method.js"></script>
    

    
</body>

</html>